apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    k8s-app: cms-xcache
  name: cms-xcache-xcache-11-ucsd
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: cms-xcache
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        k8s-app: cms-xcache
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - xcache-11.t2.ucsd.edu
      containers:
      - env:
        - name: XC_SITE
          value: UCSD-XCACHE
        - name: XC_RESOURCENAME
          value: UCSD-XCACHE
        - name: XC_RAMSIZE
          value: 12g
        - name: XC_PREFETCH
          value: '0'
        - name: XC_SPACE_LOW_WM
          value: '0.95'
        - name: XC_SPACE_HIGH_WM
          value: '0.97'
        image: opensciencegrid/cms-xcache:stable
        imagePullPolicy: Always
        name: cms-xcache-bcache-1-ucsd
        resources:
           limits:
              memory: 50Gi
              cpu: 4
           requests:
              memory: 40Gi
              cpu: 4
        volumeMounts:
        - mountPath: /etc/osg/image-config.d/00-create-dirs.sh
          name: configinit
          subPath: 00-create-dirs.sh
        - mountPath: /etc/xrootd/config.d/90-node-xcache-11-disks.cfg
          name: config90
          subPath: 90-node-xcache-11-disks.cfg
        - mountPath: /etc/xrootd/config.d/95-local-ucsd.cfg
          name: config95
          subPath: 95-local-ucsd.cfg
        - mountPath: /etc/xrootd/Authfile-cms-xcache
          name: authfile
          subPath: Authfile-cms-xcache
        - mountPath: /etc/grid-security/hostcert.pem
          name: hostcert
        - mountPath: /etc/grid-security/hostkey.pem
          name: hostkey
        - mountPath: /data2
          name: data2
        - mountPath: /xcache-root
          name: localroot
        - mountPath: /xcache-meta
          name: localmeta
        - mountPath: /data3
          name: data3
        - mountPath: /data4
          name: data4
        - mountPath: /data5
          name: data5
        - mountPath: /data6
          name: data6
        - mountPath: /data7
          name: data7
        - mountPath: /data8
          name: data8
        - mountPath: /data9
          name: data9
        - mountPath: /data10
          name: data10
        - mountPath: /data11
          name: data11
      dnsPolicy: ClusterFirst
      hostNetwork: true
      restartPolicy: Always
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
      volumes:
      - configMap:
          defaultMode: 420
          items:
          - key: 00-create-dirs.sh
            path: 00-create-dirs.sh
          name: cms-xcache-bcache-1-ucsd
        name: configinit
      - configMap:
          defaultMode: 420
          items:
          - key: 90-node-xcache-11-disks.cfg
            path: 90-node-xcache-11-disks.cfg
          name: cms-xcache-xcache-11-ucsd
        name: config90
      - configMap:
          defaultMode: 420
          items:
          - key: 95-local-ucsd.cfg
            path: 95-local-ucsd.cfg
          name: cms-xcache-bcache-1-ucsd
        name: config95
      - configMap:
          defaultMode: 420
          items:
          - key: Authfile-cms-xcache
            path: Authfile-cms-xcache
          name: cms-xcache-bcache-1-ucsd
        name: authfile
      - hostPath:
          path: /etc/grid-security/hostcert.pem
          type: File
        name: hostcert
      - hostPath:
          path: /etc/grid-security/hostkey.pem
          type: File
        name: hostkey
      - name: data2
        hostPath:
          path: /data2
          type: Directory
      - name: data3
        hostPath:
          path: /data3
          type: Directory
      - name: data4
        hostPath:
          path: /data4
          type: Directory
      - name: data5
        hostPath:
          path: /data5
          type: Directory
      - name: data6
        hostPath:
          path: /data6
          type: Directory
      - name: data7
        hostPath:
          path: /data7
          type: Directory
      - name: data8
        hostPath:
          path: /data8
          type: Directory
      - name: data9
        hostPath:
          path: /data9
          type: Directory
      - name: data10
        hostPath:
          path: /data10
          type: Directory
      - name: data11
        hostPath:
          path: /data11
          type: Directory
      - name: data12
        hostPath:
          path: /data12
          type: Directory
      - name: localroot
        hostPath:
          path: /xcache-root
          type: Directory
      - name: localmeta
        hostPath:
          path: /xcache-meta
          type: Directory
